### Test different file format

In [1]:
import pandas as pd
import numpy as np

### CSV

In [4]:
%%time

## quanto tempo ci vuole a leggere un csv?
orig_csv = pd.read_csv('train.csv')

CPU times: user 1min 9s, sys: 5.4 s, total: 1min 14s
Wall time: 2min 41s

In [7]:
print('Il numero di record nel file:', orig_csv.shape[0])

Il numero di record nel file: 184903890

In [6]:
orig_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184903890 entries, 0 to 184903889
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   ip               int64
 1   app              int64
 2   device           int64
 3   os               int64
 4   channel          int64
 5   click_time       object
 6   attributed_time  object
 7   is_attributed    int64
dtypes: int64(6), object(2)
memory usage: 11.0+ GB

### Parquet

In [5]:
%%time

# read the dataset in feather format
orig_data = pd.read_parquet('train_augmented.parquet')

CPU times: user 27.1 s, sys: 6.65 s, total: 33.7 s
Wall time: 5.24 s

In [3]:
orig_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184903890 entries, 0 to 184903889
Data columns (total 16 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ip                        int64
 1   app                       uint16
 2   device                    uint16
 3   os                        uint16
 4   channel                   uint16
 5   click_time                datetime64[ns]
 6   is_attributed             uint8
 7   hour                      uint8
 8   day                       uint8
 9   ip_app_channel_var_day    float64
 10  qty                       uint16
 11  ip_app_count              uint16
 12  ip_app_os_count           uint16
 13  qty_var                   float64
 14  ip_app_os_var             float64
 15  ip_app_channel_mean_hour  float64
dtypes: datetime64[ns](1), float64(4), int64(1), uint16(7), uint8(3)
memory usage: 11.2 GB

### feather

In [8]:
%%time

# read the dataset in feather format
orig_feather = pd.read_feather('train_augmented.fea')

CPU times: user 8.15 s, sys: 6.43 s, total: 14.6 s
Wall time: 3.09 s

In [9]:
orig_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184903890 entries, 0 to 184903889
Data columns (total 16 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ip                        int64
 1   app                       uint16
 2   device                    uint16
 3   os                        uint16
 4   channel                   uint16
 5   click_time                datetime64[ns]
 6   is_attributed             uint8
 7   hour                      uint8
 8   day                       uint8
 9   ip_app_channel_var_day    float64
 10  qty                       uint16
 11  ip_app_count              uint16
 12  ip_app_os_count           uint16
 13  qty_var                   float64
 14  ip_app_os_var             float64
 15  ip_app_channel_mean_hour  float64
dtypes: datetime64[ns](1), float64(4), int64(1), uint16(7), uint8(3)
memory usage: 11.2 GB

In [10]:
orig_data.head()

,ip,app,device,os,channel,click_time,is_attributed,hour,day,ip_app_channel_var_day,qty,ip_app_count,ip_app_os_count,qty_var,ip_app_os_var,ip_app_channel_mean_hour
0,83230,3,1,13,379,2017-11-06 14:32:21,0,14,6,0.914338,1,5427,1326,7.893333,38.855403,8.619632
1,17357,3,1,19,379,2017-11-06 14:33:34,0,14,6,0.745750,1,5025,1380,9.618462,26.386922,8.090909
2,35810,3,1,13,379,2017-11-06 14:34:12,0,14,6,0.690244,1,2012,442,15.600000,34.029284,8.317073
3,45745,14,1,13,478,2017-11-06 14:34:52,0,14,6,0.883721,1,9474,1954,5.947712,39.259411,10.477273
4,161007,3,1,13,379,2017-11-06 14:35:08,0,14,6,0.619048,1,232,80,10.800000,37.221361,11.428571